<html>
<head>
    <title>DynaMic</title>
    <!-- CSS -->
    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster.list@0.4.4/dist/leaflet-markercluster-list.css"></link>

    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Leaflet Heat -->
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

    <!-- Leaflet Marker Cluster -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- Leaflet List -->
    <script src="https://unpkg.com/leaflet.markercluster.list@0.4.4/dist/leaflet-markercluster-list.src.js"></script>

    <!-- Map loading -->
    <script src="{{ url_for('static', path='js/loadMap.js') }}" defer>
    </script>

    <!-- WebSocket -->
     <!-- <script src="{{ url_for('static', path='js/socket.js') }}" defer></script> -->

</head>
<body>
  <main class="main">
    <h1 id="title">Map of explosions</h1>
    <form id="form">
      <div >
        <div class="select-group">
          <label for="time-select">Time:</label>
          <select name="time" id="time-select">
              <option value="all-time">All Time</option>
              <option value="past-hour">Past Hour</option>
              <option value="past-day">Past 24 Hours</option>
              <option value="past-week">Past Week</option>
              <option value="past-month">Past Month</option>
          </select>
        </div>
        <div class="select-group">
          <label for="group-select">Survey Groups:</label>
          <select name="group" id="group-select" onselect>
              <option value="0">All Groups</option>
              {% for grp in groups %}
                  <option value="{{ grp.id }}">{{ grp.name }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <button>Submit</button>
    </form>
    <div id="map"></div>
  </main>
  <script src="{{ url_for('static', path='js/fetchOccurrences.js') }}">
  </script>
  <script src="{{ url_for('static', path='js/socket.js') }}">
  </script>
  <script>
      document.addEventListener("DOMContentLoaded", async function() {
          await loadMap(null)
      })
  </script>
</body>
</html>