<html>
<head>
    <title>DynaMic</title>
    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
</head>
<body>
    <h1>Map of explosions</h1>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="{{ url_for('static', path='js/fetchOccurrences.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const map = L.map('map').setView([14.650983264532163, 121.06718461639298], 16); // default center
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18
            }).addTo(map);

            const data = await fetchOccurrences();
            const blobSize = 20;
            const highlightColor = "#FF2400"
                        
            // heat layer, can adjust base intensity
            const baseIntensity = 0.6;
            var heat = L
                .heatLayer(
                    data.map((i) => [i.latitude, i.longitude, baseIntensity]), 
                    {   
                        radius: blobSize,
                        minOpacity: 0.4,
                        // adjust style of the heat blobs here, see leaflet docs for options
                    }
                )
                .addTo(map);
            
            // markerclustergroup to handle overlapping circle markers, will spiderfy
            var markers = L.markerClusterGroup({
                spiderLegPolylineOptions: {
                    weight: 5,
                    color: highlightColor,
                    opacity: 1,
                    dashOffset: 10
                },
                maxClusterRadius: blobSize,
                showCoverageOnHover: false,
            });

            // circle markers over heat blobs, shows time and date of the occurrences when clicked
            const allMarkers = [];
            var circleMarkers = data.map((i) => {
                var circle = L
                    .circleMarker(
                        [i.latitude, i.longitude],
                        {
                            opacity: 0,
                            radius: blobSize,
                            weight: 0,
                            fillOpacity: 0
                        }
                    )
                    .bindPopup(
                        `<p>Date: ${i.date} <br/> Time: ${i.time} </p>`
                        // can add className option here for styling, see leaflet docs
                    ) 
                    .addTo(map)
                allMarkers.push(circle)
                markers.addLayer(circle)   
            })

            // Add marker groups to map after adding the circle markers
            map.addLayer(markers)

            // Make circle markers opaque upon clicking on parent cluster
            markers.on('clusterclick', (cluster) => {
                resetAllMarkers()
                const childMarkers = cluster.layer.getAllChildMarkers()
                childMarkers.forEach(m => {
                    m.setStyle({
                        opacity: 0.2,
                        weight: 1,
                        fillOpacity: 0.2,
                        color: highlightColor 
                    })

                    if (m._renderer) {
                        m._renderer._updateCircle(m);
                    }
                })

            })

            map.on("click", resetAllMarkers)

            // To reset markers
            function resetAllMarkers() {
                allMarkers.forEach(m => {
                    m.setStyle({
                        opacity: 0,
                        weight: 0,
                        fillOpacity: 0
                    });
                    
                    if (m._renderer) {
                        m._renderer._updateCircle(m);
                    }
                });
            }
        });
    </script>
</body>
</html>