<html>
<head>
    <title>Occurrences</title>
    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>
<body>
    <h1>Map of recent explosions</h1>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', path='js/fetchOccurrences.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const map = L.map('map').setView([14.655030133202263, 121.06491181310288], 15); // set Oblation as default
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            const data = await fetchOccurrences();
            data.forEach(item => {
                L.marker([item.latitude, item.longitude])
                    .addTo(map)
            });
            console.log(data)
        });
    </script>
</body>
</html>